<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Прием поставок</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<h2>Прием поставок</h2>

<table border="1">
    <tr>
        <th>Поставщик</th>
    </tr>
    <tr th:each="provider : ${providerList}">
        <td>
            <a th:href="@{'/provider/' + ${provider.id}}" th:utext="${provider.name}"></a>
        </td>
    </tr>

</table>
<br>
<form action="/report" method="post">
    <p>Дата брони:
    <p>С: <input type="date" name="dateFrom" id="dateFrom" th:value="${curDate}" th:max="${curDate}">
        до: <input type="date" name="dateTo" id="dateTo" th:value="${curDate}" th:max="${curDate}">
    <div class="col-sm-6">
        <input class="btn btn-primary" type="submit" value="Забронировать"/>
    </div>
</form>
</body>
</html>