<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Прием поставок</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<h2 th:text="@{'Прием поставок от ' + ${provider.name}}"/>
<form th:action="@{/provider/delivery}" th:object="${deliveryForm}" method="POST">
    <input type="hidden" th:field="*{providerId}" readonly="readonly"/>
    Дата поставки: <input type="date" name="dateTo" id="dateTo" th:value="${curDate}">
    <table border="1">
        <tr>
            <th>Тип продукта</th>
            <th>Название продукта</th>
            <th>Цена за кг.</th>
            <th>Вес</th>
        </tr>
        <tr>
            <td>
                <a th:utext="${price0.product.productType.name}"></a>
            </td>
            <td>
                <a th:utext="${price0.product.name}"></a>
            </td>
            <td>
                <a th:utext="@{${price0.price} + ' руб.'}"></a>
            </td>
            <td>
                <input type="text" th:text=" кг." th:field="*{weight1}"/>
                <input type="hidden" th:field="*{priceId1}" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                <a th:utext="${price1.product.productType.name}"></a>
            </td>
            <td>
                <a th:utext="${price1.product.name}"></a>
            </td>
            <td>
                <a th:utext="@{${price1.price} + ' руб.'}"></a>
            </td>
            <td>
                <input type="text" th:text=" кг." th:field="*{weight2}"/>
                <input type="hidden" th:field="*{priceId2}" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                <a th:utext="${price2.product.productType.name}"></a>
            </td>
            <td>
                <a th:utext="${price2.product.name}"></a>
            </td>
            <td>
                <a th:utext="@{${price2.price} + ' руб.'}"></a>
            </td>
            <td>
                <input type="text" th:text="  кг." th:field="*{weight3}"/>
                <input type="hidden" th:field="*{priceId3}" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                <a th:utext="${price3.product.productType.name}"></a>
            </td>
            <td>
                <a th:utext="${price3.product.name}"></a>
            </td>
            <td>
                <a th:utext="@{${price3.price} + ' руб.'}"></a>
            </td>
            <td>
                <input type="text" th:text=" кг." th:field="*{weight4}"/>
                <input type="hidden" th:field="*{priceId4}" readonly="readonly"/>
            </td>
        </tr>

    </table>
    <br>
    <div>
        <input class="btn btn-primary" type="submit" th:value="Принять"/>
    </div>
</form>
</body>
</html>