<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отчет</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<a th:href="@{/home}">Домой</a>
<br>
<h2 th:text="@{'Отчет с ' + ${dateTo} + ' по ' + ${dateFrom}}"/>
<table border="1">
    <tr>
        <th>Продукт</th>
        <th>Поставщик</th>
        <th>Общий вес, кг.</th>
        <th>Стоимость, руб.</th>
    </tr>
    <tr th:each="report : ${reportProductsList}">
        <td>
            <a th:utext="${report[0]}"></a>
        </td>
        <td>
            <a th:utext="${report[1]}"></a>
        </td>
        <td>
            <a th:utext="${report[2]}"></a>
        </td>
        <td>
            <a th:utext="${report[3]}"></a>
        </td>
    </tr>

</table>

</body>
</html>